<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action="{{url('rechercheFilm')}}" method="GET" class="col-md-6">
                <label for="exampleInputEmail1">Recherche</label>
                <input class="form-control" id="exampleInputEmail1" type="text" name="title" aria-describedby="rechercheHelp" placeholder="Entrer le nom du film">
        
                <button type="submit" class="btn btn-primary btn_form">C'est parti !</button>
            </form>
        </div>
    </div>
</div>