<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">Super Synfony de C_____</h1>
    <p class="lead">Ceci est un super TP de la mort. Amuse toi ;) </p>
  </div>
</div>