<footer>
    <a href="{{url('Home')}}" >
        <button type="button" class="btn btn-primary btn-lg btn-block" style="
            background-color: #212121;
            border-color: #212121;
        ">Super Lien</button>
    </a>

    <a href="{{url('Film avec paramètre', 
            { 'query1': 'pirate' })}}" >
                <button type="button" class="btn btn-secondary btn-lg btn-block">Lien 2</button>
    </a>
</footer>