<footer>
    <a href="{{url('Query')}}" >
        <button type="button" class="btn btn-primary btn-lg btn-block">Super Lien</button>
    </a>

    <a href="{{url('Film avec paramètre', 
            { 'query1': 'pirate' })}}" >
                <button type="button" class="btn btn-secondary btn-lg btn-block">Lien 2</button>
    </a>
</footer>